<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Producto</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{ nombre }}</td>
      <td>uppercase</td>
      <td>{{ nombre | uppercase }}</td>
    </tr>

    <tr>
      <td>{{ nombre }}</td>
      <td>lowercase</td>
      <td>{{ nombre | lowercase }}</td>
    </tr>

    <tr>
      <td>{{ nombre }}</td>
      <td>slice: 3</td>
      <td>{{ nombre | slice:3 }}</td>
    </tr>

    <tr>
      <td>{{ nombre }}</td>
      <td>slice: 0 hasta 3</td>
      <td>{{ nombre | slice:0:3 }}</td>
    </tr>

    <tr>
      <td>{{ arreglo }}</td>
      <td>slice: 1 hasta 5</td>
      <td>{{ arreglo | slice:0:5 }}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td> number: '3.-0-0' </td>
      <td>{{ PI | number:'3.0-0' }}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td> number: '1.-0-10' </td>
      <td>{{ PI | number:'1.0-10' }}</td>
    </tr>

    <tr>
      <td>{{ percentage }}</td>
      <td> percentage </td>
      <td>{{ percentage | percent}}</td>
    </tr>

    <tr>
      <td>{{ percentage }}</td>
      <td> percentage: '2.2-4'</td>
      <td>{{ percentage | percent: '2.2-4'}}</td>
    </tr>

    <tr>
      <td>{{ money }}</td>
      <td> money</td>
      <td>{{ money | currency: 'MXN' }}</td>
    </tr>

    <tr>
      <td>{{ money }}</td>
      <td> money</td>
      <td>{{ money | currency: 'EUR':true }}</td>
    </tr>

    <tr>
      <td>{{ money }}</td>
      <td> money </td>
      <td>{{ money | currency: 'EUR':true:'4.0-0' }}</td>
    </tr>

    <tr>
      <td>async</td>
      <td> async </td>
      <td>{{ valorDePromesa | async }}</td>
    </tr>

    <tr>
      <td><button type="button" (click)="clave = !clave">Cambiar</button></td>
      <td> {{clave}} </td>
      <td>{{ nombre | constrasenia:clave }}</td>
    </tr>

  </tbody>
</table>

<h4>Slice</h4>
<ul>
    <li *ngFor="let number of arreglo | slice:5:20">{{number}}</li>
</ul>

<h4>JSON</h4>
<pre>{{heroe | json}}</pre>
<br><br>

<h4>Youtube</h4>
<iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
